.project-button {
    color: #91E5F6;
    padding: 1rem 0 0 1rem;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.project-item {
    padding: .5rem;
}

.btn {
    padding: 0 0 1rem 1rem;
}
